<div id="page">
	<h2 id="wel">Welcome <%= @user.username %></h2>
	<% @users.each do |u| %>
		<div class="user">
			<h2><%= u.username %></h2>
			<%= image_tag u.avatar.url(:medium) %>
			<p><%= u.bio %></p>
		</div>
	<% end %>
</div>

